.wrapper {
    padding: 0 80px;
}

.landing-page {
    background-image: url("/images/school.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-page {
    display: flex;
    padding: 50px 0 60px;
    background-color: #fff;
}

.about-container {
    padding: 0 100px;
}

.about-container h2 {
    font-family: 'BebasNeueRegular';
    font-size: 50px;
    font-weight: lighter;
    line-height: 60px;
    margin-bottom: 15px;
    color: #2C286E;
    text-transform: uppercase;
}

.line {
    border-bottom: 3px solid #2C286E;
    width: 10%;
}

.about-container p {
    color: #2C286E;
    padding: 30px 0 20px 0;
}


.about-container a {
    color: white;
    background-color: #2C286E;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
}


.about-container img {
    width: 300px;
    height: 300px;
}