htmml {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.top-nav {
    position: relative;
    height: 50px;
    color: white;
    padding: 5px 0px 10px;
    background-color: #2C286E;
}

.nav-icon {
    height: 35px;
    width: 35px;
    padding: 10px 0px 0px 50px;
}

table {
    padding-left: 10px;
    display: inline-block;
}

th {
    text-align: left;
    font-size: 13px;
}

td {
    font-size: 10px;
    padding-top: 0;
}

.login-portal {
    float: right;
}

.login-portal ul {
    padding: 0 50px 0  0;
    height: 30px;
}

.login-portal ul li {
    display: inline-block;
    list-style: none;
    line-height: 30px;
}

.login-portal ul li:nth-child(1) {
    border-right: 2px solid lightgrey;
    line-height: 20px;
}

.login-portal ul li a {
    color: lightgray;
    text-decoration: none;
    margin: 0 15px;
    text-align: center;
    padding-right: 0px;
    transition: 0.2s;
}

.login-portal ul li a:hover {
    color: white;
}


/* MAIN NAVIGATION */
.main-nav {
    border-bottom: 3px solid #2C286E;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    padding: 0 100px;
    background-color: white;
    box-sizing: border-box;
    z-index: 9999;
}


.main-nav img {
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 5px;
}

.main-nav p {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    color: #2C286E;
}


nav {
    float: right;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style-type: none;
    position: relative;
}

.fas {
    position: absolute;
    line-height: 80px;
    color: #2C286E;
    right: 5px;
}

nav ul li ul {
    position: absolute;
    left: 0;
    border-right: 3px solid #2C286E;
    border-left: 3px solid #2C286E;
    border-bottom: 3px solid #2C286E;
    background-color: white;
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
    width: 200px;
}

nav ul li a{
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    color: #2C286E;
    text-decoration: none;
    display: block;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: lightgrey;
}

nav ul li a.active {
    color: black;
}


nav ul li ul li a{
    height: 50px;
    line-height: 50px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}



/* ----- FOOTER ----- */
footer {
    background-color: #26272b;
    padding: 40px 0 20px;
    font-size: 15px;
    line-height: 25px;
    color:#737373;
}

footer img {
    height: 130px;
    width: 130px;
    padding-left: 30%;
}

.fa-li {
    color: #fff;
    font-size: 20px;
}

footer ul {
    padding-left: 0;
    list-style:none;
}

.fa-ul li {
    padding: 15px 10px;
}

footer ul li {
    display: block;
}

footer ul li a {
    color:#737373;
    text-decoration: none;
}

footer a:hover {
    color:#3366cc;
    text-decoration:none;
}

footer a:active, footer a:focus, footer-links a:hover {
    color:#3366cc;
    text-decoration:none;
}

footer h6 {
    color: #fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.footer-row {
    display: flex;
    margin-left: 70px;
}

.footer-col {
    padding: 0 70px;
}

.quick-links h6 {
    padding-top: 80px;
}

.links-2 {
    padding-top: 120px;
}

.v-line {
    height: 90px;
    border-left: 3px solid white;
    margin-left: 20px;
    margin-top: 10%;
}

.fab {
    color: #737373;
    margin-top: 155px;
}

.fab:hover {
    color: #fff;
}

footer hr {
    opacity: 0.5;
    width: 85%;
    margin-top: 20px;
    border-top-color:#bbb;
}